// Colors
$color-primary: #E1FF8F;
$color-accent: #BCEC30;
$color-dark: #202027;
$color-black: #000;
$color-white: #fff;
$color-light-gray: #F7F7F7;
$color-purple: #AD61FF;
$color-orange: #FDAD00;
$color-blue: #565EEF;
$color-dark-blue: #271A58;
$color-green: #99D100;

// Fonts
$font-main: "Montserrat", sans-serif;

// Container
$container-width: 1201px;